@charset "UTF-8";
/* CSS Document */


body {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

body {
    -webkit-animation: fadeIn 3.5s ease 0s 1 normal;
    animation: fadeIn 3.5s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
input {
	display: none;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	background-image: linear-gradient(to top, rgba(68,129,235,0.7) 0%, rgba(4,190,254,0.7) 100%);
  z-index: 10;
}
.cp_fullscreenmenu .menu ul {
	position: absolute;
	top: 170px;
	left: 50%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.cp_fullscreenmenu .menu ul li {
	-webkit-transform: translateY(50px);
	        transform: translateY(50px);
	opacity: 0;
}
.cp_fullscreenmenu .menu ul li a {
	font-size: 2em;
	font-weight: bold;
	display: block;
	padding: 20px 0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cp_fullscreenmenu .menu ul li a:hover {
	color: rgba(236,64,122 ,1);
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu #toggle:checked ~ .menu {
	visibility: visible;
	opacity: 1;
/*  z-index: 10;*/
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul {
	top: 70px;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li {
	-webkit-transform: translateY(0px);
	        transform: translateY(0px);
	opacity: 1;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar {
	background-color: rgba(255,255,255 ,1);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(2) {
	-webkit-transform: translateX(50px);
	        transform: translateX(50px);
	opacity: 0;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg);
	        transform: translateY(13px) rotate(
45deg
);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	        transform: translateY(-20px) rotate(-45deg);
}

/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
	position: fixed;
	z-index: 20;
	top: 10px;
	right: 10px;
	display: block;
	cursor: pointer;
}
.cp_fullscreenmenu .hamburger .bar {
	width: 60px;
	height: 2px;
	margin: 15px 10px;
	transition: all 0.3s ease-in-out;
	background-color: rgba(240,98,146 ,1);
}
.cp_fullscreenmenu .hamburger .bar:nth-child(2) {
	width: 60px;
}



/*メインビジュアル*/
.contents {
  height: 100vh; /* 全画面表示 */
  background-image: url("../images/main-visual.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}


.bg-contents {
  position: relative;
}

.title {
  font-family: 'TsukuARdGothic-Regular','ＭＳ Ｐゴシック','MS PGothic','Andale Mono','Courier',sans-serif;
  color: aliceblue;
}

.name {
  position: absolute;
  top: 30vw;
  left: 5vw;
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


.daimei {
  position: absolute;
  top: 34vw;
  left: 5vw;
  font-size: 26px;
}


/*Concept */

.concept-area {
  background-color: #F4EADC;
}

/*フェードイン*/
.concept {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 3500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}


.concept-img {
   max-width: 400px;
    width: 100%;
    height: 40vh;
}

.concept-img {
  
}

.title-name {
    text-align: center;
    padding: 100px 0 50px 0;
    font-family: din-condensed, sans-serif;
    color: #FFB100;
    line-height: normal;
    letter-spacing: 0.2rem;
}

.concept-message {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro';
    color: #FF9900;
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.4rem;
}

.concept-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.concept-img {
  flex: 4;
  margin: 100px 0 100px 50px;
  box-shadow: 10px 10px 10px #cccccc;
}

.concept-text {
    flex: 6;
    margin-top: 120px;
    padding: 0 30px;
    font-size: 1.0rem;
    letter-spacing: 0.3em;
    color: #2c3a4c;
    font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
    font-feature-settings: "palt";
    line-height: 1.6rem;

}

.text-important {
  font-weight: bold;
}


/*about*/

.profile-section {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 3500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.self {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #2c3a4c;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-feature-settings: "palt";
}

.about-text {
    max-width: 550px;
    width: 100%;
    font-size: 1.0rem;
    letter-spacing: 0.3em;
    line-height: 1.7;
    font-family: 'TsukuARdGothic-Regular';
    color: #707070;
    margin-left: 50px;
}

.profile-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
}

.myname {
  font-weight: bold;
}

.my-img {
    width: 35vw;
    height: 25vw;
    margin: 0 50px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px #cccccc;
}

.profile-detail {
/*    margin: 0 50px;*/
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #2c3a4c;
    font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.3rem;
    padding: 0.2em 0.2em 0.2em 1.0em;
    margin: 2em 1em 2em 3em;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    border-radius: 10px;
}

.prof-icon-area {
    max-width: 120px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.prof-icon1 {
    width: 4.0vw;
    margin-right: 10px;
}

.prof-icon1:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: 1.1s;
}

.prof-icon2 {
    width: 3.2vw;
}

.prof-icon2:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: 1.1s;
}

.fv-things {
    font-family: din-condensed, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 3px;
    color: #FFB100;
}

.img-oya {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 30px;
}

.img-fv1 {
  width: 20vw;
  opacity: 0.8;
}

.img-fv1:hover {
  opacity: 1;
  transition: 1.1s;
}

.img-fv2 {
  width: 19.3vw;
  height: 17.8vw;
  opacity: 0.8;
}

.img-fv2:hover {
  opacity: 1;
  transition: 1.1s;
}

.img-fv3 {
    width: 22vw;
    height: 17.8vw;
    opacity: 0.8;
}

.img-fv3:hover {
  opacity: 1;
  transition: 1.1s;
}

.img-fv4 {
  width: 19vw;
  opacity: 0.8;
}

.img-fv4:hover {
  opacity: 1;
  transition: 1.1s;
}



.img-oya {
  position: relative;
}

.favolite .no1{
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 3vw;
    left: 7vw;
    margin: 0;
    color: aliceblue;
}

.favolite .no2 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 3vw;
    left: 29vw;
    margin: 0;
    color: aliceblue;
}

.favolite .no3 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 3vw;
    left: 51vw;
    margin: 0;
    color: aliceblue;
}

.favolite .no4 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 3vw;
    left: 73vw;
    margin: 0;
    color: currentcolor;
}


.comment {
  text-align: center;
  line-height: 0.6rem;
  padding: 0.5em 1em;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  font-size: 1rem;
  color: #2c3a4c;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-feature-settings: "palt";
  padding-top: 30px;
  margin-bottom: 50px;
}

.comment strong p {
    margin: 0; 
    padding: 0;
}

.comment-detail {
  margin-bottom: 40px;
}



/*--------------------------------
 Skill
---------------------------------*/

.skill-section {
  background-color: #F4EADC;
}

.skill-section {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 3500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.skill-section .inner {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-image:hover {
	transform: scale(1.1);
  transition: 1.2s;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
  margin-bottom: 3px;
  color: #2c3a4c;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
}

.skill-text {
    font-size: 1rem;
    color: #2c3a4c;
    font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
    font-feature-settings: "palt";
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

.skill-item-sub {
    display: flex;
    flex: 0 0 46%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-name-sub {
    text-align: center;
    padding: 30px 0;
    font-family: din-condensed, sans-serif;
    color: #FFB100;
    line-height: normal;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

.skill-item-sub {
    font-size: 1rem;
    color: #2c3a4c;
    font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
    font-feature-settings: "palt";
    padding-bottom: 50px;
}
/*--------------------------------
 Works
---------------------------------*/

.works-section {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 3500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.works-area {
  margin-bottom: 120px;
}

.works-subtitle {
  text-align: center;
  color: #FFB100;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.2rem;
  
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 1 0 25%;
/*  flex: 1 0 32.31552%;*/
/*  margin-right: 1.52671%;*/
  margin: 50px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: left;
  color: #2c3a4c;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-feature-settings: "palt";
}

.works-body-blog {
	margin: 0 0 0 -17px;
}

.works-body-mail {
	margin: 0 0 0 -16px;
}
.works-title {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 0.1em;
}

.works-text {
  font-size: 12px;
}

.works-text2 {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

/*Worksの写真サイズ調整必要*/
.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}


.works-image-dogcafe {
	width: 100%;
	height: 90%;
  box-shadow: 10px 10px 10px #cccccc;
}

.works-image-dogcafe:hover {
  -webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.works-image-vr:hover {
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.works-image-hours {
	  width: 100%;
    height: 82%;
    box-shadow: 10px 10px 10px #cccccc;
}

.works-image-hours:hover {
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.works-image-vr {
	  width: 96%;
    height: 82%;
    box-shadow: 10px 10px 10px #cccccc;
}

.works-image-camela:hover {
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.works-image-dog {
    width: 100%;
    height: 82%;
    box-shadow: 10px 10px 10px #cccccc;
}

.works-image-dog:hover {
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.works-image-mountain {
    width: 100%;
    height: 80%;
    box-shadow: 10px 10px 10px #cccccc;
}

.works-image-mountain:hover {
 -webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
  -webkit-transition: all 1s ease;
	transition: all 1s ease;
}



/*footer*/
.contact-area {
  background-color: #F4EADC;
  padding-bottom: 100px;
}

.contact-area {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 3500ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
  list-style: none;
}

.contact-text {
  margin-bottom: 30px;
  font-size: 17px;
  color: #2c3a4c;
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-feature-settings: "palt";
  text-align: center;
}

.contact-image {
  max-width: 60px;
  width: 100%;
}

.contact-image:hover {
	transform: scale(1.1);
  transition: 1.2s;
}

.copy-oya {
  text-align: center;
  margin-top: 50px;
}

.copy-light {
    font-size: 15px;
    letter-spacing: 0.1em;
    color: #2c3a4c;
    font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
    font-feature-settings: "palt";
}


/*page top*/
#page_top{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#page_top a{
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.top-wan {
  width: 8vw;
}

.top-wan:hover {
  transform: translate(0, -20px);
}


/*レスポンシブ 対応*/

@media screen and (min-width:769px) and ( max-width:900px) {
  
  .prof-icon1, .prof-icon2 {
    width: 5vw;
  }
}


@media screen and (max-width: 768px) {
  
  body {
    font-size: 13px;
    line-height: 1.7;
  }
  
    .cp_fullscreenmenu .hamburger {
    position: fixed;
    z-index: 20;
    top: 10px;
    right: 25px;
    display: block;
    cursor: pointer;
}
  
/*  Concept*/
  .concept-box {
    display: block;
  }
  
  .concept-message {
    margin-bottom: 50px;
  }
  
  .concept-image {
    text-align: center;
  }
  
  .concept-img {
    margin: 0;
  }
  
  .concept-text {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  
/*  About */
  .profile-area {
    display: block;
  }
  
  .photo {
    text-align: center;
  }
  
  .my-img {
    width: 50vw;
    height: 40vw;
  }
  
  .prof-icon1, .prof-icon2 {
    width: 6vw;
  }
  
  .profile-detail {
    text-align: left;
    padding: 1em;
    margin: 3em;
  }
  
  .img-oya {
    display: inline-flex;
    margin: 20px 30px;
  }
  
  .comment-detail {
    line-height: 1.5;
  }
  
/*  Skill*/
  
  .section-body .skill {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
  }
  
   .skill-item-sub {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .skill-area {
    display: flex;
  }
  
  .skill-list {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  
  .skill-item-sub {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  
  
  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 1.1rem;
  }
  
  .works-text {
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
  }

  .works-list {
	  display: block;
    justify-content: space-between;
  }
  
  .works-image-dogcafe {
    width: 80vw;
  }
  
  .works-image-hours {
    width: 80vw;
  }
  
  .works-image-vr {
    width: 80vw;
  }
  
  .works-image-dog {
    width: 80vw;
  }
  
  .works-image-mountain {
    width: 80vw;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .works-subtitle {
    margin-top: 100px;
  }

  .top-wan {
    display: none;
  }
}


@media screen and (max-width: 375px) {
  

  
  body {
    margin: 0;
    min-width: 400px;
  }
  
  .cp_fullscreenmenu .hamburger {
      right: 15px;
  }
  
  .name {
    top: 23vw;
    left: 5vw;
    font-size: 2.4rem;
  }
  
  .daimei {
    font-size: 1.6rem;
  }
  
  
  
/*  Concept*/
  .concept-img {
    width: 80vw;
  }
  
/*About*/
  .my-img {
    width: 80vw;
    height: 70vw;
  }
  
  .prof-icon1, .prof-icon2 {
    width: 11vw;
  }
  
  .profile-detail {
    margin: 2rem;
  }
  
  .img-oya {
    display: block;
  }
  
  .img-fv1, .img-fv4 {
    width: 68vw;
    margin-bottom: 20px;
  }
  
  .img-fv2, .img-fv3 {
    width: 68vw;
    height: 68vw;
    margin-bottom: 20px;
  }
  
  .favolite .no1 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    font-size: 20px;
    line-height: 120%;
    top: 50vw;
    left: 15vw;
    margin: 0;
    color: aliceblue;
  }
  
  .favolite .no2 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    top: 125vw;
    left: 15vw;
    margin: 0;
    color: aliceblue;
  }
  
  .favolite .no3 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 86vw;
    left: 15vw;
    margin: 0;
    color: aliceblue;
  }
  
  .favolite .no4 {
    font-family: din-condensed, sans-serif;
    position: absolute;
    color: fff;
    font-size: 20px;
    line-height: 120%;
    bottom: 11vw;
    left: 15vw;
    margin: 0;
    color: currentcolor;
  }
  
/*  Skill*/
  .skill-list {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
  
  .skill-item-sub {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .skill-area {
    display: flex;
  }
  
  .contact-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .top-wan {
    display: none;
  }
}